<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <script src="index.js" defer></script>
    <title>Living The Simple Life</title>
</head>
<body>
    <header class="bg-white-light p-1 pt-2 pb-2 mb-4">
        <div class="container container-flex center-text">
            <a class="center-verticaly" href="./index.html">
                <h1 class="title m-0">Living The Simple Life</h1>
                <p class="subtitle m-0">A Blog Exploring Minimalism in Life</p>
            </a>
            <nav>
                <ul class="navegation">
                    <li><a class="" href="./index.html">Home</a></li>
                    <li><a class="" href="./about.page.html">About me</a></li>
                    <li><a class="current-page" href="./post.page.html">Recent posts</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="container container-flex h-70vh">
        <main role="main" class="">

            <article class="article-recent">
                <div class="article-recent-main">
                    <h2 class="article-title">Finding simplicity in life</h2>
                    <p class="article-body">
                        Life can get complicated really quickly, but it doesn't have to be! 
                        There are many ways to simplify your life, a few of which we've explored in the past.
                        This week we're taking a bit of a approach though, in how you can find simplicity 
                        in the life you already living.  
                    </p>
                    <a class="article-read-more" href="#">Continue reading</a>
                </div>
                <div class="article-recent-secondary">
                    <div class="article-image bg-dark ">
                        <img src="./images/minimalism.jpg" alt="minimalism" class="">
                    </div>
                    <p class="article-info"> <time>July 23, 2019 </time> |  3 comments </p>
                </div>
            </article>

            <article class="article-recent">
                <div class="article-recent-main">
                    <h2 class="article-title">Keeping cooking simple</h2>
                    <p class="article-body">
                        Food is a very important part of everyone's life. If you want to be healthy, 
                        you have to eat healthy. One of the easiest ways to do that is to keep 
                        your cooking nice and simple.     
                    </p>
                    <a class="article-read-more" href="#">Continue reading</a>
                </div>
                <div class="article-recent-secondary">
                    <div class="article-image bg-dark ">
                        <img src="./images/minimalism-food.jpg" alt="cooking simple" class="">
                    </div>
                    <p class="article-info"> <time>July 19, 2019</time>  |  3 comments</p>
                </div>
            </article>

            <article class="article-recent">
                <div class="article-recent-main">
                    <h2 class="article-title">Simplicity and work</h2>
                    <p class="article-body">
                        Work is often a major source of stress. People get frustrated, it ruins their 
                        relationship with others and it leads to burnout. By keeping your work 
                        life as simple as possible, it will help balance everything out.   
                    </p>
                    <a class="article-read-more" href="#">Continue reading</a>
                </div>
                <div class="article-recent-secondary">
                    <div class="article-image bg-dark ">
                        <img src="./images/minimalism2.jpg" alt="minimalism at work" class="">
                    </div>
                    <p class="article-info"> <time>July 12, 2019 </time>  |  3 comments</p>
                </div>
            </article>

            <article class="article-recent">
                <div class="article-recent-main">
                    <h2 class="article-title">Simple decorations</h2>
                    <p class="article-body">
                        A home isn't a home until you've decorated a little. 
                        People either don't decorate, or they go overboard and it doesn't 
                        have the impact they were hoping for. Staying simple will help draw 
                        the eye where you want it to and make things pop like never before.   
                    </p>
                    <a class="article-read-more" href="#">Continue reading</a>
                </div>
                <div class="article-recent-secondary">
                    <div class="article-image bg-dark ">
                        <img src="./images/minimalism-deco.jpg" alt="simple decoration" class="">
                    </div>
                    <p class="article-info"> <time>July 3, 2019</time>  |  3 comments</p>
                </div>
            </article>

        </main>

        <aside class="sidebar ">

            <div class="sidebar-widget ">
                <h2 class="widget-title">About me</h2>
                <div class="widget-image">
                    <img class="" src="./images/foto1.jpg" alt="">
                </div>
                <p class="widget-body">
                    I find life better, and I'm happier, when things are nice and simple.
                </p>
            </div>

            <div class="sidebar-widget">
                <h2 class="widget-title">Recent posts </h2>

                <div class="widget-recent-post ">
                    <h3 class="widget-post-title">Keeping cooking simple</h3>
                    <img src="./images/minimalism-food.jpg" alt="" class="widget-image">
                </div>

              

                <div class="widget-recent-post ">
                    <h3 class="widget-post-title">Simplicity and work</h3>
                    <img src="./images/minimalism2.jpg" alt="" class="widget-image">
                </div>

            

                <div class="widget-recent-post">
                    <h3 class="widget-post-title">Simple decorations</h3>
                    <img src="./images/minimalism-deco.jpg" alt="" class="widget-image">
                </div>
            </div>

        </aside>

    </div>

    <footer class="p-1 pt-2 text-center bg-blue-dark text-white mt-3">
        <h4 class="m-0 text-footer">Gabriel Jiménez <br> 01 09 2022</h4>
    </footer>
</body>
</html>